Code/.vs
Code/*.sln.DotSettings.user
Code/*/*.csproj.user
Code/*/bin
Code/*/obj
Code/Samples/*/*.csproj.user
Code/Samples/*/bin
Code/Samples/*/obj
Code/Modules/*/*.csproj.user
Code/Modules/*/bin
Code/Modules/*/obj
Code/packages